*.bin filter=lfs diff=lfs merge=lfs -text
*.ext4 filter=lfs diff=lfs merge=lfs -text
project_results/dirigent_rr_skew_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/5min_tests filter=lfs diff=lfs merge=lfs -text
project_results/classic_all_xl170 filter=lfs diff=lfs merge=lfs -text
project_results/classic_perf filter=lfs diff=lfs merge=lfs -text
project_results/dirigent_base_fast_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/dirigent_base_slow_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/dirigent_base_skew_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/hierarchical_85_split_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/reference filter=lfs diff=lfs merge=lfs -text
project_results/dirigent_rr_split_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/classic_all_c6 filter=lfs diff=lfs merge=lfs -text
project_results/classic_split_extended filter=lfs diff=lfs merge=lfs -text
project_results/dirigent_base_split_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/weighted_split_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/hierarchical_85_skew_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/IM155_tests filter=lfs diff=lfs merge=lfs -text
project_results/weighted_skew_IM300_30min filter=lfs diff=lfs merge=lfs -text
project_results/** filter=lfs diff=lfs merge=lfs -text
